.Carousel {
  width: 100%;
  margin: 0px auto 20px auto;
  padding-top: 50px;
  box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, 0.06);
}

div[class='slick-slide slick-active slick-center slick-current'] img {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.24);
}

.Carousel--img {
  opacity: 0.5;
  transform: scale(0.9);
  transition: all 0.4s ease-in-out;
}
