.ShoppingCart {
  padding-top: 50px;
  box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, 0.06);
}

.ShoppingCart__container {
  margin: 0 auto;
  min-height: 65vh;
  max-width: 800px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 2px;
}

.ShoppingCart__left {
  border-right: 1px solid rgb(0, 0, 0, 0.2);
}

.Item__container {
  display: flex;
}
.Item--img {
  width: 100px;
}

.Item--title {
  width: 150px;
  font-weight: bold;
}

.Item__quantity--arrow {
  cursor: pointer;
}

.Item__quantity--quantity {
  display: inline-block;
  border: 1px solid rgb(0, 0, 0, 0.2);
  padding: 4px 8px;
}

.Item--remove {
  color: #999;
  cursor: pointer;
}

.Item--remove:hover {
  color: #333;
}

.ShoppinCart--price {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

/*S Mobile devices */
@media (max-width: 480px) {
  .Item--title {
    width: 100px;
  }

  .Item__quantity {
    margin-left: 0px !important;
  }
}

/*XS Mobile devices */
@media (max-width: 376px) {
  .Item--img {
    width: 80px;
  }

  .Item--title {
    font-size: 14px;
    margin-right: 0 !important;
  }

  .Item__quantity--quantity {
    padding: 0px;
    border: none;
  }

  .Item--price {
    font-size: 14px;
  }
}
