.nav-link {
  color: #666;
  text-transform: capitalize;
  transition: all 0.2s linear;
  border-bottom: 2px solid #fff;
}

.nav-link:hover {
  color: #333;
}

.nav-link.nav-link-active {
  border-color: #333;
}
