.nav-link {
  color: #666;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

.nav-link:hover {
  color: #333;
  background: #f9f9f9;
}

/*.nav-link.nav-link-active {
  border-width: 10px;
}*/
