.Header__cta {
  display: flex;
  list-style: none;
  margin: 0;
  align-items: center;
}

.Header-shoppingcart {
  font-size: 18px;
}

.Header-count {
  background: orange;
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  color: #f9f9f9;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
}
